.modal.main-menu {
    background-color: #ebeef0;
}

.modal.main-menu > .modal-menu-section > .btn > .name {
    justify-self: start;
}

.modal.main-menu > .modal-menu-section > .btn {
    margin-bottom: 4px;
}