header {
  height: 32px;
  padding: 4px 0;
  background-color: rgba(0,0,0,.15);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 80px 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

header .left-header {
  display: grid;
  grid-template-columns: 32px 90px auto;
  grid-column-gap: 4px;
  padding-left: 4px;
  align-items: center;
  justify-content: start;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  margin: 0;
  background-image: url("/images/TrelloLogo.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 80px 30px;
  width: 80px;
  height: 30px;
  opacity: .5;
  display: block;
  box-sizing: border-box;
}

header .logo > span {
  width: 1px;
  height: 1px;
  top: -10px;
  position: absolute;
  overflow: hidden;
}

header .right-header {
  display: grid;
  grid-template-columns: 32px 32px 32px 32px;
  grid-column-gap: 4px;
  padding-right: 4px;
  align-items: center;
  justify-content: end;
  width: 100%;
  box-sizing: border-box;
}

header .logo:hover {
  opacity: .8;
}