.form {
  width: 430px;
}

.form-title {
  margin-bottom: 24px;
}

.form-title > .title {
  color: #333;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  display: block;
}

.form-title > .subtitle {
  color: #999;
  font-size: 18px;
  font-weight: 300;
  display: block;
}

.form-title > .subtitle > a {
  color: #298fca;
  font-size: 18px;
}

.form-title > .subtitle > a:hover {
  cursor: pointer;
  color: #0c3953;
}

.form-input-wrapper > label {
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}

.form-input-wrapper > input {
  background: #edeff0;
  border: 1px solid #cdd2d4;
  border-radius: 4px;
  max-width: 430px;
  padding: .5em;
  width: calc(100% - 1em);
  height: 27px;
  font-size: 20px;
  color: rgb(77, 77, 77);
  margin-bottom: 24px;
}

.form-input-wrapper > input:focus {
  outline: none;
  box-shadow: 0 0 6px #cdd2d4;
  border-color: #a5acb0;
}

.form-submit-button-wrapper {
  height: 51px;

}

.form-submit-button-wrapper > .form-submit-button {
  width: 100%;
  height: 100%;
  padding: 12px 26px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 0 #3f6f21;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  background: #61bd4f;
}