.search {
    border-radius: 3px;
    display: grid;
    align-items: center;
    color: #fff;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.search > input {
    height: 100%;
    width: 94%;
    margin: 0 3%;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}